

:root 
{  /* ---- ⚫️ Colors ⚪️ ---- */
  /* Base Tokens */
  --sys-color-white: #FFFFFF;
  --sys-color-black: #000000;
  --sys-color-gray: #989FA2;
  /*Primary Colors */
  --electric-emerald: #4FFDA2;
  --imagination-purple: #9940E6;
  --Fire-n-Sun: #FD9B06;
  --pacman-yellow: #FEE220;
  --vibrant-blue: #1729FF;
  
  --selected-wallpaper: url('/wallpapers/mesh-gradient.jpg');

  /* Headlines */
  --h-font: "Degular Display Black"

  /* Generic Styles */
  --radius10: 10px;
  --windowbg: #FFFAE8;

  /* Theme Tokens */
  --spaceMono: "Mono Space";
  --degularDisplayReg: "Degular Display";
  --font-size: 16px;
  --rainbow-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0.37) 100%), linear-gradient(116deg, rgba(153, 64, 230, 0.40) 6.65%, rgba(253, 155, 6, 0.40) 28.3%, rgba(254, 226, 32, 0.40) 49.95%, rgba(79, 253, 162, 0.40) 71.6%, rgba(23, 41, 255, 0.40) 93.25%);
  
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body{
  height: 100%;
}
aside{
  height: fit-content;
  display: flex;
  width: fit-content;
  padding: 2rem;
}

.hide{
  display: none;
}
/* Container to center the rotating text */


body{
  height: 100%;
  background-image: var(--rainbow-gradient), var(--selected-wallpaper) ;
  /* background-image: var(--rainbow-gradient), url('/wallpapers/pokemon.png') ; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


p{
  font-family: var(--spaceMono);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--degular-bold-font);
}
h1{
  font-size: 5.75rem;

}
h2{
  font-size: 3rem;

}
h3{
  font-size: 2.5rem;
}
h4{
  font-size: 2.25rem;
}
h5{
  font-size: 2rem;
}
h6{
  font-size: 1.5rem;
}
p{
  font-size: 1.0625rem;
}