---

---

<footer class='text-white p-6 w-full fixed bottom-0'>
  <nav class="footerNav flex justify-center items-center " >
    <div id="aboutUs">
      <a href="#" class="link">
        <img src="/icons/aboutUs.png" />
      </a>
      <p class="text ">Item 1</p>
    </div>
    <div id="projects">
      <a href="#" >
        <img src="/icons/projectsSvg.svg" />
      </a>
      <p>Item 2</p>
    </div>
    <div id="ourStory">
      <a href="#">
        <img src="/icons/ourStorySvg.svg" />
      </a>
      <p>Item 3</p>
    </div>
    <div id="stories">
      <a href="#">
        <img src="/icons/storiesSvg.svg" />
      </a>
      <p>Item 4</p>
    </div>
    <div id="donate">
      <a href="#">
        <img src="/icons/donateSvg.svg" />
      </a>
      <p>Item 5</p>
    </div>
  </nav>
</footer>

<style>
  .footerNav{
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(13.050000190734863px);
    height: 6.3rem;
    margin: 0px auto;
    width: 38.1875rem;
    max-width: 90%;
  }
  .link{
    display: block;
    margin-top: -1rem;
    position: relative;
    transition: margin-top 300ms ease-in-out;
  }
  .link{
    height: 94px;
    width: 99px;
  }
  .link:hover{
    margin-top: -3.5rem;
  }
  .link + .text{
    overflow: hidden;
    height: 0px;
    transition: height 400ms ease-in-out;
  }
  .link:hover + .text{
    overflow: visible;
    height: .9rem;
  }


</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const backToTop = document.querySelector('.backToTop');

    const toggleBackToTopButton = () => {
      if (window.scrollY > 250) {
        backToTop?.classList.add('active');
      } else {
        backToTop?.classList.remove('active');
      }
    };

    backToTop?.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    });

    window.addEventListener('scroll', toggleBackToTopButton);
  });
</script>
