---
import Layout from '@layouts/Default.astro';

---

<Layout
  title='Home'
  pageTitle='Preservation Quest | Home'
  description='Prservation Quest description goes here.'
> 
  <main >
    <h1 >Headline 1</h1>
    <h2>Headline 2</h2>
    <h3>Headline 3</h3>
    <h4>Headline 4</h4>
    <h5>Headline 5</h5>
    <h6>Headline 6</h6>
    <p>Space Mono</p>
  </main>
</Layout>
