---
import Layout from '@layouts/Default.astro';

---

<Layout
  title='Home'
  pageTitle='Preservation Quest | Home'
  description='Prservation Quest description goes here.'
> 
  <main >
    <h1>WIndow Page</h1>>
  </main>
</Layout>
