---
import Layout from '@layouts/Default.astro';
import WindowFrame from '@components/generic/windowFrame.astro';
import WallpaperFolder from '@components/generic/WallpaperFolder';
import TopBar from '@components/generic/topBar.astro';
import UrlBar from '@components/generic/urlBar.astro';
import About from '@components/windows/about.astro';
---

<Layout
  title='Home'
  pageTitle='Preservation Quest | Home'
  description='Prservation Quest description goes here.'
> 
  <main class="flex relative flex-col w-100%">
    <aside class="w-100%">
      <WallpaperFolder client:load />
    </aside>
    <WindowFrame pageTitle='About Us' client:visible >
      <TopBar title='About Us' />
      <UrlBar title='about' />
      <About client:idle />
    </WindowFrame>
  </main>
</Layout>
