---
interface Props{
    title: string;

}
const {
    title
} = Astro.props;
---


<div id="topBar" slot="top-bar">
    <h6> {title} </h6>
    <img class="w-.9rem h-.9rem"  src="/icons/exit.svg" />
</div>

<style>
    #topBar{
        background-color: var(--sys-color-gray);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 2px solid black;
    }
    #topBar h6{
        font-size: 1.2rem;
    }

</style>