---

---


<div id="urlBar" slot="url-bar">
    <div class="flex ">
        <img src="/icons/leftArrow.svg" />
        <img src="/icons/rightArrow.svg" />
        <img src="/icons/refresh.svg"/>
    </div>
</div>

<style>
    #urlBar{
        background: #E7E7E7;
        width: 100%;
        height: 43px;
        display: flex;
        padding: 0px 1.1rem;
        align-items: center;
        border-bottom: 2px solid black;
    }
    

</style>